## -*- coding: utf-8 -*-
<%namespace name="feeds_translations" file="feeds_translations_helper.tmpl" import="*"/>

<%def name="html_headstart()">
<!DOCTYPE html>
<html \
    prefix='\
        og: http://ogp.me/ns# article: http://ogp.me/ns/article# \
        %if comment_system == 'facebook':
            fb: http://ogp.me/ns/fb# \
        %endif
    ' \
    vocab="http://ogp.me/ns" \
% if is_rtl:
    dir="rtl" \
% endif
\
lang="${lang}">
<head>
    <meta charset="utf-8">
    %if description:
        <meta name="description" content="${description|h}">
    %endif
    <meta name="viewport" content="width=device-width">
    %if title == blog_title:
        <title>${blog_title|h}</title>
    %else:
        <title>${title|h} | ${blog_title|h}</title>
    %endif

    ${html_stylesheets()}
    <meta name="theme-color" content="${theme_color}">
    % if meta_generator_tag:
        <meta name="generator" content="Nikola (getnikola.com)">
    % endif
    ${feeds_translations.head(classification=None, kind='index', other=False)}
    <link rel="canonical" href="${abs_link(permalink)}">

    %if favicons:
        %for name, file, size in favicons:
            <link rel="${name}" href="${file}" sizes="${size}"/>
        %endfor
    %endif

    % if comment_system == 'facebook':
        <meta property="fb:app_id" content="${comment_system_id}">
    % endif

    %if prevlink:
        <link rel="prev" href="${prevlink}" type="text/html">
    %endif
    %if nextlink:
        <link rel="next" href="${nextlink}" type="text/html">
    %endif

    %if use_cdn:
        <!--[if lt IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv-printshiv.min.js"></script><![endif]-->
    %else:
        <!--[if lt IE 9]><script src="${url_replacer(permalink, '/assets/js/html5shiv-printshiv.min.js', lang, url_type)}"></script><![endif]-->
    %endif

    ${extra_head_data}
</%def>

<%def name="late_load_js()">
    % if use_bundles:
        % if use_cdn:
            <script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.11.1/baguetteBox.min.js" integrity="sha256-ULQV01VS9LCI2ePpLsmka+W0mawFpEA0rtxnezUj4A4=" crossorigin="anonymous"></script>
            <script src="/assets/js/all.js"></script>
        % else:
            <script src="/assets/js/all-nocdn.js"></script>
        % endif
    % else:
        % if use_cdn:
            <script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.11.1/baguetteBox.min.js" integrity="sha256-ULQV01VS9LCI2ePpLsmka+W0mawFpEA0rtxnezUj4A4=" crossorigin="anonymous"></script>
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
        % else:
            <script src="/assets/js/baguetteBox.min.js"></script>
            <script src="/assets/js/bootstrap.bundle.min.js"></script>
            <script src="/assets/js/jquery.min.js"></script>
            <script src="/assets/js/lightray.js"></script>
        % endif
    % endif
    % if date_fanciness != 0:
        % if date_fanciness == 2:
            <script src="https://polyfill.io/v3/polyfill.js?features=Intl.RelativeTimeFormat.%7Elocale.${luxon_locales[lang]}"></script>
        % endif
        % if use_cdn:
            <script src="https://cdn.jsdelivr.net/npm/luxon@3.3.0/build/global/luxon.min.js" integrity="sha256-Nn+JGDrq3PuTxcDfJmmI0Srj5LpfOFlKqEiPwQK7y40=" crossorigin="anonymous"></script>
        % else:
            <script src="/assets/js/luxon.min.js"></script>
        % endif
        % if not use_bundles:
            <script src="/assets/js/fancydates.min.js"></script>
        % endif
    % endif
    ${social_buttons_code}
</%def>

<%def name="html_stylesheets()">
    %if use_bundles:
        %if use_cdn:
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.11.1/baguetteBox.min.css" integrity="sha256-cLMYWYYutHkt+KpNqjg7NVkYSQ+E2VbrXsEvOqU7mL0=" crossorigin="anonymous">
            <link href="/assets/css/all.css" rel="stylesheet" type="text/css">
        %else:
            <link href="/assets/css/all-nocdn.css" rel="stylesheet" type="text/css">
        %endif
    %else:
        <link href="/assets/css/baguetteBox.min.css" rel="stylesheet" type="text/css">
        <link href="/assets/css/rst_base.css" rel="stylesheet" type="text/css">
        <link href="/assets/css/nikola_rst.css" rel="stylesheet" type="text/css">
        <link href="/assets/css/code.css" rel="stylesheet" type="text/css">
        <!--<link href="/assets/css/theme.css" rel="stylesheet" type="text/css">-->
        <link href="/assets/css/lightray.css" rel="stylesheet" type="text/css">
        %if has_custom_css:
            <link href="/assets/css/custom.css" rel="stylesheet" type="text/css">
        %endif
    %endif
    % if needs_ipython_css:
        <link href="/assets/css/ipython.min.css" rel="stylesheet" type="text/css">
        <link href="/assets/css/nikola_ipython.css" rel="stylesheet" type="text/css">
    % endif
</%def>

### This function is deprecated; use feed_helper directly.
<%def name="html_feedlinks()">
    ${feeds_translations.head(classification=None, kind='index', other=False)}
</%def>

<%def name="html_entry_translations()">
    %for langname in sorted(translations):
        %if langname != lang:
            <li class="list-group-item d-block d-lg-none"><a class="btn btn-secondary" href="${_link("root", None, langname)}" rel="alternate" hreflang="${langname}">${messages("LANGUAGE", langname)}</a></li>
        %endif
    %endfor
</%def>

<%def name="html_translations()">
    <ul class="translations above p-2 d-none d-md-block list-group list-group-flush list-group-horizontal align-items-center">
        <!-- <h4 class="me-3">${messages("Languages:")}</h4> -->
    %for langname in sorted(translations):
        %if langname != lang:
            <li class="list-group-item"><a class="btn btn-secondary" href="${_link("root", None, langname)}" rel="alternate" hreflang="${langname}">${messages("LANGUAGE", langname)}</a></li>
        %endif
    %endfor
    </ul>
</%def>

<%def name="site_translations()">
    <ul class="translations above opacity-100 bg-light p-2 d-none d-lg-block list-group list-group-horizontal align-items-center">
    %for langname in sorted(translations):
        %if langname != lang:
            <li class="list-group-item"><a  href="${_link("root", None, langname)}" rel="alternate" hreflang="${langname}">${messages("LANGUAGE", langname)}</a></li>
        %endif
    %endfor
    </ul>
</%def>
