// lightray.scss

@import "../../node_modules/bootstrap-icons/font/bootstrap-icons";

// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import "../../node_modules/bootstrap/scss/functions";

// 2. Include any default variable overrides here

@font-face {
    font-family: 'Lato';
    src: url('fonts/Lato-Regular.ttf');
    font-weight: 400;
    font-style: regular;
}
@font-face {
    font-family: 'Lato';
    src: url('fonts/Lato-Bold.ttf');
    font-weight: 700;
}
@font-face {
    font-family: 'Inter';
    src: url('fonts/Inter-Regular.ttf');
    font-weight: 400;
    font-style: regular;
}
@font-face {
    font-family: 'Inter';
    src: url('fonts/Inter-SemiBold.ttf');
    font-weight: 600;
    font-style: regular;
}
@font-face {
    font-family: 'Playfair Display';
    src: url('fonts/PlayfairDisplay-Regular.ttf');
    font-weight: 400;
    font-style: regular;
}
@font-face {
    font-family: 'Playfair Display';
    src: url('fonts/PlayfairDisplay-Bold.ttf');
    font-weight: 700;
    font-style: bold;
}
@font-face {
    font-family: 'Playfair Display';
    src: url('fonts/PlayfairDisplay-ExtraBold.ttf');
    font-weight: 900;
    font-style: bolder;
}


$font-size-base: 1.125rem;
$font-family-base: 'Lato', system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";


$headings-font-family: 'Playfair Display', system-ui;
$headings-font-weight: 700;

$primary: #2C4A96;
$secondary: #7862ce;
$success: #07b467;
$info: #f49d14;
$warning: #e7cf06;
$danger: #fa1702;

// 3. Include remainder of required Bootstrap stylesheets (including any separate color mode stylesheets)
@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/variables-dark";

// 4. Include any default map overrides here

// 5. Include remainder of required parts
@import "../../node_modules/bootstrap/scss/maps";
@import "../../node_modules/bootstrap/scss/mixins";
@import "../../node_modules/bootstrap/scss/root";

// 6. Optionally include any other parts as needed
@import "../../node_modules/bootstrap/scss/utilities";
@import "../../node_modules/bootstrap/scss/reboot";
@import "../../node_modules/bootstrap/scss/type";
@import "../../node_modules/bootstrap/scss/images";
@import "../../node_modules/bootstrap/scss/containers";
@import "../../node_modules/bootstrap/scss/grid";
@import "../../node_modules/bootstrap/scss/tables";
@import "../../node_modules/bootstrap/scss/forms";
@import "../../node_modules/bootstrap/scss/buttons";
@import "../../node_modules/bootstrap/scss/transitions";
@import "../../node_modules/bootstrap/scss/dropdown";
@import "../../node_modules/bootstrap/scss/button-group";
@import "../../node_modules/bootstrap/scss/nav";
@import "../../node_modules/bootstrap/scss/navbar";
@import "../../node_modules/bootstrap/scss/card";
@import "../../node_modules/bootstrap/scss/accordion";
@import "../../node_modules/bootstrap/scss/breadcrumb";
@import "../../node_modules/bootstrap/scss/pagination";
@import "../../node_modules/bootstrap/scss/badge";
@import "../../node_modules/bootstrap/scss/alert";
@import "../../node_modules/bootstrap/scss/progress";
@import "../../node_modules/bootstrap/scss/list-group";
@import "../../node_modules/bootstrap/scss/close";
@import "../../node_modules/bootstrap/scss/toasts";
@import "../../node_modules/bootstrap/scss/modal";
@import "../../node_modules/bootstrap/scss/tooltip";
@import "../../node_modules/bootstrap/scss/popover";
@import "../../node_modules/bootstrap/scss/carousel";
@import "../../node_modules/bootstrap/scss/spinners";
@import "../../node_modules/bootstrap/scss/offcanvas";
@import "../../node_modules/bootstrap/scss/placeholders";
@import "../../node_modules/bootstrap/scss/helpers";

// 7. Optionally include utilities API last to generate classes based on the Sass map in `_utilities.scss`
@import "../../node_modules/bootstrap/scss/utilities/api";

// 8. Add additional custom code here
.narrow-container {
    @include make-container();
    // Make sure to define this width after the mixin to override
    // `width: 100%` generated by `make-container()`
    max-width: 960px;
}

$separator-size: 5px;
$separator-border-style: solid;
$separator-border-color: $primary;
$separator-space-top: 1.2rem;
$separator-space-bottom: 1rem;
.title-separator {
    margin-top: $separator-space-top;
    margin-bottom: $separator-space-bottom;
    border: 0;
}
@mixin dot {
    $dot-size: 7px;
    content: "";
    background-color: $separator-border-color;
    display: block;
    height: $dot-size;
    width: $dot-size;
    border-radius: 50%;
}
.separator--dots {
    overflow: visible;
    border: 0;
    @include dot();
    position: relative;
    &:before {
        @include dot();
        position: absolute;
        left: -32px;
        animation: dot-move-left 1s ease-out forwards;
    }
    &:after {
        @include dot();
        position: absolute;
        left: 32px;
        animation: dot-move-right 1s ease-out forwards;
    }
}

@keyframes dot-move-right {
    0% {
        left: 0;
    }
    100% {
        left: 32px;
    }
}
@keyframes dot-move-left {
    0% {
        left: 0;
    }
    100% {
        left: -32px;
    }
}

.btn-circle.btn-xl {
	width: 75px;
	height: 75px;
	padding: 13px 18px;
	border-radius: 60px;
	text-align: center;
}

.above {
    z-index: 100;
}

.edit-tools-btn {
    transition: all .2s ease-in-out;
}
.edit-tools-btn:hover {
    transform: scale(1.2);
}

.edit-this-btn {
    // position: absolute;
    right: -10px;
    top: -10px;
    z-index: 100;
    transition: all .2s ease-in-out;
}

.edit-this-btn:hover {
    transform: scale(1.4);
}

.edit-this-active {
    background-color: rgb(244,157,20, 0.5);
    -webkit-transition: background-color 600ms ease;
    -ms-transition: background-color 600ms ease;
    transition: background-color 600ms ease;
}

.edit-this-active:hover {
    border: 4px solid $info;
    -webkit-transition: border 600ms ease;
    -ms-transition: border 600ms ease;
    transition: border 600ms ease;
}

.btn-circle {
    width: 30px;
    height: 30px;
    padding: 6px 0px;
    border-radius: 15px;
    text-align: center;
    font-size: 12px;
    line-height: 1.42857;
}

h1, h2, h3, h4, h5, h6 {
    color: $primary;
}

#blog-title {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
}  


li.nav-item.active > a {
    color: $primary;
    font-weight: 700;
    text-decoration: underline;
}

hr.faded {
    border: 0;
    height: 3px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(44, 74, 150), rgba(0, 0, 0, 0));
}

blockquote {
    font-style: italic;
    background: $gray-300;
    border-left: 10px solid $secondary;
    margin: 1.5em 10px;
    padding: 0.5em 10px;
    quotes: "\201C""\201D""\2018""\2019";
}
blockquote:before {
    color: $gray-500;
    content: open-quote;
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;
}
blockquote p {
    display: inline;
    font-size: 1.125rem;
    font-weight: 300;
    line-height: 1.25;
}

/////////////
// Masonry //
/////////////
/* Masonry */

/* clear fix */
.grid:after {
    content: "";
    display: block;
    clear: both;
}

/* ---- .grid-item ---- */
.grid-sizer,
.grid-item {
    width: 33.333%;
}

.grid-item {
    float: left;
}

.grid-item img {
    display: block;
    width: 100%;
}

.grow {
    transition: all 0.2s ease-in-out;
}

.grow:hover {
    transform: scale(1.125);
    z-index: 99;
}

a.stretched-link, a.stretched-link:hover, a.stretched-link:focus, a.stretched-link:active {
    text-decoration: none;
    color: inherit;
}

.card {
    margin-bottom: 10px;
}

#footer {
    font-size: 0.9rem;
}
